section,header,article,nav{
    display: block;
}

*{
    padding:0;
    margin: 0;
}
body{
    margin: 1em auto;
    /*background-image: url("../images/top_bg.gif");*/
    background-image: url("../images/bg.gif");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
}
header{
    background-image: url("../images/1.gif");
    background-repeat: no-repeat;
    background-position: top right;
    border-width: 0.1em;
    border-style: solid;
    border-bottom-width: 0;
    font-size: 0;
}
header img{
    display: block;
    /*float: left;
    z-index: 90;
    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;
    vertical-align:text-top;*/

}
header nav{
    clear: both;
    background-image: url("../images/nav-bg.gif");
    background-position: bottom left;
    background-repeat: repeat;
    border-width: 0;
    border-style: solid;
    padding-left: 10%;
}
header nav ul{
    width: 100%;
    overflow: hidden;
    border-left-width: 0.1em;
    border-left-style: solid;
    list-style: none;
}
header nav li{
    display: inline;
}
header nav li a{
    display: block;
    float: left;
    padding: 0.5em 2em;
    border-right: 0.1em solid;
}
article{
    border-width: 0.1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}
article img{
    border-width: 0.1em;
    border-style: solid;
    outline-width: 0.1em;
    outline-style: solid;
}
#about header{
    background-image: url("../images/2.gif");
}
#photos header{
    background-image: url("../images/3.gif");
}
#live header{
    background-image: url("../images/4.gif");
}
#contact header{
    background-image: url("../images/5.gif");
}
#slideshow{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
#preview{
    position: absolute;
    border-width: 0;
    outline-width: 0;
}
#frame{
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;
}
#imagegallery li{
    display: inline;
}
#placeholder{
    overflow: hidden;
}
td{
    padding:0.5em 3em;
}
dl{
    overflow: hidden;
}
dt{
    float: left;
}
dd{
    float: left;
}
label{
    display: block;
}
fieldset{
    border: 0;
}
